/* déclaration de variable*/
:root{
    --hauteur-menu: 60px;

  }


@font-face {
  font-family:"font-1" ;
  src: url('Image/sf_fedora-webfont.woff2') format("woff2");
  }

  @keyframes rainbow {
    5% {color: yellow}
    10% {color: yellowgreen}
    20% {color: lightgreen}
    30% {color: green}
    40% {color: lightseagreen}
    50% {color: blue}
    60% {color: blueviolet}
    70% {color: purple}
    80% {color: darkred}
    90% {color: crimson}
    95% {color: red}
    100% {color: orange}
  }

/* initialisation*/

* { margin: 0px;padding: 0px; font-family: Montserrat, sans-serif;}

a { text-decoration: none;}

    /* le sous menu */

.menu {display: flex; justify-content: space-around; list-style-type: none;
  background-color: goldenrod; box-shadow: 0px 3px 3px darkslategrey;
  align-items: center;
  padding: 15px;
}

.menu > li > a{ color:rgb(0, 0, 0); font-size: 18px;}
.menu > li > a:hover {color: magenta;}


/* Le margin padding positionning flex */
h1{
  margin-top: 25px;
  text-align: center;
  font-size: 80px;
  margin-bottom: 30px;
}

h2{
  margin-left: 20px;
  font-size:42px;
  padding:5px;
  font-family: "font-1";
  color : rainbow;
}

ol > li{
  margin-left: 60px; 
  padding: 1.25%;
  font-weight: bold;
  font-size: 23px;

}

ol > div >li{
  margin-left: 45px; 
  padding: 1.25%;
  font-weight: bold;
  font-size: 21px;
} 

p{
  margin-left: 20px;
  padding: 10px;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 2%;
}

ol{
  display: flex;
  flex-direction: column;
}

ul{
  display: flex;
  padding: 2px;
}

.capcaitéflex {
  display: flex;
  padding: 2px;
  list-style-type: none;
  margin-bottom: 30%;
  width: 30%;
  height: 30%;
  line-height: 25px;
  justify-content: space-around;
}

.titreCapa{
  display: flex; 
  font-weight: bold;
  justify-content: space-around;
}



.positioning{
  position: relative;
  margin-top: 30px;
  
}

.Lemain {
  background: rgba(211, 203, 204, 0.97);
  width : 83%;
  margin: 0 auto;
  padding: 5px;
  border: 9px solid; 
  border-color: rgb(38, 26, 145);
}

.ApparenceMain{
  border: none;
  background: none;
  width: 45%;
}
/*Relatif aux Subpages*/

.StarPlat{
  color:rgb(95, 47, 139);
  text-shadow: 5px 0 0 rgba(148, 21, 148, 0.603);
  font-family:"font-1"
}

.zaword{
  color:rgb(199, 186, 4);
  text-shadow: 5px 0 0 rgba(156, 121, 6, 0.603);
  font-family:"font-1"
}

.KQTitre{
  color:rgb(208, 115, 226);
  text-shadow: 5px 0 0 rgba(187, 133, 192, 0.603);
  font-family:"font-1"
}

.KCTitre{
  color:rgb(175, 10, 10);
  text-shadow: 5px 0 0 rgba(80, 9, 9, 0.904);
  font-family:"font-1"
}


.MIHTitre{
  color:rgb(231, 238, 202);
  text-shadow: 5px 0 0 rgba(131, 139, 94, 0.904);
  font-family:"font-1"
}

.Stand img,
.SHA img {
  border: 3px solid black;
  width: 200px;
  height: 200px;
}

.Stand img{
  position:absolute;
  left: 55%;
  top:50%;
  transform: translateY(-50%);
}

.SHA img {
  position:absolute;
  left: 49%;
  transform: translateX(-50%);
  top: 50%;
}



.Tarocard img {
  width: 200px;
  height: 200px;
  position:absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}

.mainpage_Stand {background: url("Image/StandsBG.jpg") fixed ;
  color : rgb(0, 0, 0); background-size: 1720px, 1080px;}

/* Les id*/
#mainpage {background: url("https://static.bandainamcoent.eu/high/jojo/jojo-bizarre-adventure-all-star-battle-r/02-news/JOJOASBR_launchTrailer_thumbnail.jpg") center fixed;
    color : rgb(0, 0, 0); background-size: 1720px, 1080px;}



#bordered {background-color: slategrey; border-style: inset; border-width: 8px; border-color: goldenrod;
            margin: 10px; padding: 3px;}

a:hover {color: magenta;}
a:active {color: darkred;}

#standlist {display:flex; flex-direction: column; align-items: center;
  margin-left: 25%; margin-right: 25%; margin-top: 15%; background-color: bisque; padding: 10px; border-style:inset; border-width: 5px; border-color: goldenrod;}
#stands, h2 {animation: rainbow 4s infinite;font-size: 35px; list-style-type: none; font-weight: bold; }


#SP > a {color:aqua;}
#SP:hover > a {color: magenta;}

#TW > a {color: goldenrod;}
#TW:hover > a {color: green;}


