/* déclaration de variable*/
:root{
    --hauteur-menu: 60px;

  }

@font-face {
  font-family:"font-1" ;
  src: url('/Image/sf_fedora-webfont.woff2');
  }
/* initialisation*/

  * {margin: 0px;padding: 0px;
    font-family: Montserrat, sans-serif;}

    /* le sous menu */
@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

@keyframes rainbow {
  5% {color: yellow}
  10% {color: yellowgreen}
  20% {color: lightgreen}
  30% {color: green}
  40% {color: lightseagreen}
  50% {color: blue}
  60% {color: blueviolet}
  70% {color: purple}
  80% {color: darkred}
  90% {color: crimson}
  95% {color: red}
  100% {color: orange}
}


nav {width: 100%;font-size: 18px;
  position: sticky;top: 0;}

nav > ul {
    display: flex;
    text-align:center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    }
           
nav ul {
    list-style-type: none;
        }
          
 nav > ul > li {
   background-color: goldenrod;
   position:relative;
   height: 100%;
   flex: 1;
   }

nav > ul > li > a {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}
  
  li a {
    text-decoration: none;
    color: black;
  }
  
  .menu-deroulant > a:after{
    content: '▼';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }  

.liens-deroule {
  margin-top: var(--hauteur-menu);
  width: 50%;
  text-align: left;
  background-color: goldenrod;
  border-radius: 8px;
  overflow: hidden;
  max-height: 0;
}

.liens-deroule > li > a {
  height: 50px;
  padding-left: 50px;
  width: 50%;
  align-items: center;
  display: flex;
}

.liens-deroule > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.liens-deroule > li:hover > a {
  color: white;
}

.menu-deroulant:hover > .liens-deroule {
  animation: apparitionSousMenu 1s forwards;
}

/* Le margin et padding */
h1{
  margin-top: 30px;
  text-align: center;
  font-size: 55px;
}

h2{
  margin-left: 16px;
}

ol > li{
  margin-left: 60px; 
}

p{
  margin-left: 20px; 
}

/*Relatif à la page de StarPlatinum*/

.StarPlat{
  color:rgb(95, 47, 139);
  text-shadow: 5px 0 0 rgba(148, 21, 148, 0.603);
  font-family:"font-1"
}

.Tarocard img {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  height: 200px;
}

.OraOra img {
  width: 200px;
  height: 200px;
}

/* Pour ZAWARUDO*/

.zaword{
  color:rgb(199, 186, 4);
  text-shadow: 5px 0 0 rgba(156, 121, 6, 0.603);
  font-family:"font-1"
}


/* background des pages sur les Stand*/


.mainpage_Stand {background: url("Image/StandBG.png") fixed ;
  color : rgb(0, 0, 0); background-size: 1720px, 1080px;}

main {
  background: rgba(211, 203, 204, 0.97);
  width : 83%;
  margin: 0 auto;
  padding: 5px;
  border: 9px solid; 
  border-color: rgb(38, 26, 145);
}

/* Les id*/
#mainpage {background: url("https://static.bandainamcoent.eu/high/jojo/jojo-bizarre-adventure-all-star-battle-r/02-news/JOJOASBR_launchTrailer_thumbnail.jpg") center fixed;
    color : rgb(0, 0, 0); background-size: 1720px, 1080px;}



#bordered {background-color: slategrey; border-style: inset; border-width: 8px; border-color: goldenrod;
            margin: 10px; padding: 3px;}

a:hover {color: magenta;}
a:active {color: darkred;}

#standlist > h2 {animation: rainbow 5s infinite}

#standlist {display: flex; flex-direction: column; align-items: center; 
            border-style:solid; border-width: 5px; border-color: goldenrod;
            background-color: bisque; margin-top: 50px; padding: 10px; margin-left: 25%; margin-right: 25%;}
