/* déclaration de variable*/
:root{
    --hauteur-menu: 60px;

  }

@font-face {
  font-family:"font-1" ;
  src: url('/Image/sf_fedora-webfont.woff2');
  }

  @keyframes rainbow {
    5% {color: yellow}
    10% {color: yellowgreen}
    20% {color: lightgreen}
    30% {color: green}
    40% {color: lightseagreen}
    50% {color: blue}
    60% {color: blueviolet}
    70% {color: purple}
    80% {color: darkred}
    90% {color: crimson}
    95% {color: red}
    100% {color: orange}
  }

/* initialisation*/

* { margin: 0px;padding: 0px; font-family: Montserrat, sans-serif;}

a { text-decoration: none;}
    /* le sous menu */
.menu {display: flex; justify-content: space-around; 
  background-color: goldenrod; box-shadow: 0px 3px 3px darkslategrey;
  align-items: center;
  padding: 15px;
}



.menu > li {text-align: center;}

.menu > li > a {color:rgb(0, 0, 0);}
.menu > li > a:hover {color: magenta;}

.menu-deroulant {position: relative;}

.liens-deroule {display: none; position: absolute; top: 125%; right: 100%; background-color: goldenrod;}

.menu-deroulant:hover > ul {display: flex;}


/* Le margin et padding */
h1{
  margin-top: 30px;
  text-align: center;
  font-size: 55px;
}

h2{
  margin-left: 16px;
}

ol > li{
  margin-left: 60px; 
}

p{
  margin-left: 20px; 
}

/*Relatif à la page de StarPlatinum*/



.StarPlat{
  color:rgb(95, 47, 139);
  text-shadow: 5px 0 0 rgba(148, 21, 148, 0.603);
  font-family:"font-1"
}

.Tarocard img {
  display: flex;
  justify-content: flex-end;
  width: 200px;
  height: 200px;
}

.OraOra img {
  width: 200px;
  height: 200px;
}

/* background des pages sur les Stand*/


.mainpage_Stand {background: url("Image/StandsBG.jpg") fixed ;
  color : rgb(0, 0, 0); background-size: 1720px, 1080px;}

main {
  background: rgba(211, 203, 204, 0.97);
  width : 83%;
  margin: 0 auto;
  padding: 5px;
  border: 9px solid; 
  border-color: rgb(38, 26, 145);
}

/* Les id*/
#mainpage {background: url("https://static.bandainamcoent.eu/high/jojo/jojo-bizarre-adventure-all-star-battle-r/02-news/JOJOASBR_launchTrailer_thumbnail.jpg") center fixed;
    color : rgb(0, 0, 0); background-size: 1720px, 1080px;}



#bordered {background-color: slategrey; border-style: inset; border-width: 8px; border-color: goldenrod;
            margin: 10px; padding: 3px;}

a:hover {color: magenta;}
a:active {color: darkred;}

#standlist > h2 {animation: rainbow 5s infinite}

#standlist {display: flex; flex-direction: column; align-items: center; 
            border-style:solid; border-width: 5px; border-color: goldenrod;
            background-color: bisque; margin-top: 50px; padding: 10px; margin-left: 25%; margin-right: 25%;}


